/* Layout */

.card-bg{
  display: inline-block;
  width:260px;
  height:400px;
  text-align: center;
  margin-bottom: 3px;
  padding-bottom: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 260px 420px;
  background-position: 0px;
}

.card-bg-6{
    background-image: url(cryptoz_card_common_brown.svg);
}

.card-bg-5{
  background-image: url(cryptoz_card_uncommon_blue.svg);
}

.card-bg-4{
  background-image: url(cryptoz_card_rare_red.svg);
}

.card-bg-3{
  background-image: url(cryptoz_card_epic_purple.svg);
}

.card-bg-2{
  background-image: url(cryptoz_card_platinum.svg);
}

.card-bg-1{
  background-image: url(cryptoz_card_diamond.svg);
}

.card-bg-back{
  background-image: url(../../assets/cryptokeeper_card_back.png);
  padding:20px;
}


.card-img{
  display: block;
  position:relative;
  top:45px;
  right:-2px;
  max-width:80%;
  margin:0 auto;
}

.card-item-name{
  width:100%;
  position: relative;
  top: 66px;
  font-weight: bold;
}

.card-edition{
  position: relative;
  width: 100%;
  top: 49px;
  color: #fff;
  font-weight: bold;
}

.card-level{
  position: relative;
  width:50px;
  top: 66px;
  right: -209px;
  font-weight: bold;
  color: #fff;
}

.card-czxp{
  position: relative;
  color:#fff;
  font-weight: bold;
  width: 100px;
  top: 89px;
  left:55px;
}

.card-txt-black{
 color: #000;
}

/* Back of card stuff */
.card-txt-white{
 color: #fff;
}

.back-container{
  position:relative;
  top:100px;
  background-color: rgba(200,200,200,0.7);
  padding:20px;
}
